.container {
  background-color: #212936;
}
.sidebar {
  background-color: #212936;
  position: fixed;
  text-align: left;
  font-size: 12px;
  color: #212936;
  height: 100%;
  width: 12.5rem;
  flex: 1;


}
.side {
  color: white;
}
.sidebar-item{
  color : #56657F ;
  padding: 0.1mm;
  flex: 1;
  margin: 7px;
  border-radius: 10px;
}

/* 활성 메뉴 스타일 */
.sidebar-item.active {
  background-color: #2B3648; /* 선택한 메뉴의 배경색으로 변경 */
  color: #1976D2; /* 선택한 메뉴의 글자색으로 변경 */
}
