.container {
  background-color: #212936;
}
.sidebar {
  background-color: #212936;
  position: fixed;
  padding: 50px;
  /*top: 0;*/
  color: #212936;
  /*height: 100%;*/
  /*position: sticky;*/
  top: 0px;
  width: 10.5rem;
  height: calc(100vh - 50px);
  flex: 1;


}
.side {
  color: white;
}
.sidebar-item{
  color : white;
}