
.body{
  display : flex;
}

.chat-container {
  background-color: #2B3648;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 150vh;
}

.chat {
  background-color: #2B3648;
  /*width: 1000px;*/
}

.chat-messages {
  max-height: 1000px;
  overflow-y: auto;
}

.chat-message {
  color : white;
  background-color: #212936;
  /*padding: 0.5rem;*/
  /*border-radius: 4px;*/
  /*margin: 0.5rem 0;*/
}
.chat-message.bot {
  background-color: #212936;
}

.chat-message.user {
  background-color: #1976D3;
}



#user-input {
  width: 95%;
  padding: 0.5rem;
  border: none;
  border-top: 1px solid #ddd;
  margin-top: 1rem;
  outline: none;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}